<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Join Our Community Today!</h1>
      <p class="py-6">
        Sign up now to unlock exclusive features and connect with professionals like never before. It's quick, easy, and free!
      </p>
    </div>
    <div class="card shrink-0 w-full max-w-md shadow-2xl bg-base-100">
      <form class="card-body" [formGroup]="registerForm" (ngSubmit)="onRegister()" >
        <div class="form-control">
          <label class="label">
            <span class="label-text">Full Name</span>
          </label>
          <input formControlName="name" type="text" placeholder="Full Name" class="input input-bordered"
                 required />
        </div>
        <!-- <div class="form-control">
          <label class="label">
            <span class="label-text">Age</span>
          </label>
          <input formControlName="phoneNumber" type="text" placeholder="PhoneNumber" class="input input-bordered" required />
        </div> -->
        <div class="form-control">
          <label class="label" for="email">
            <span class="label-text">Email</span>
          </label>
          <input id="email" formControlName="email" type="email" placeholder="Email" class="input input-bordered" required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input formControlName="password" type="password" placeholder="Password" class="input input-bordered"
                 required />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Confirm Password</span>
          </label>
          <input formControlName="confirm_password" type="password" placeholder="Confirm Password"
                 class="input input-bordered" required />
        </div>

        <div class="form-control mt-6">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
