<div class="info-grid">
  <div class="info">
    <div class="info-session-header">ProjectName :<i class="bi bi-question-circle" ></i></div>
    <div class="info-session-count">Project1</div>
    <div class="info-session previous-day">
      <div class="previous-day-count">
        <div>Tasks in progress : </div>
        <div class="previous-day-value">40</div>
      </div>
      <div class="previous-day-change">
        <div class="change-right">Missed Tasks :</div><br>
        <div class="change-right negative"><i class="bi bi-caret-down-fill"></i>12</div>
      </div>
    </div>
  </div>
  <div class="info">
    <div class="info-session-header">ProjectName :<i class="bi bi-question-circle" ></i></div>
    <div class="info-session-count">Project2</div>
    <div class="info-session previous-day">
      <div class="previous-day-count">
        <div>Tasks in progress : </div>
        <div class="previous-day-value">40</div>
      </div>
      <div class="previous-day-change">
        <div class="change-right">Missed Tasks :</div><br>
        <div class="change-right negative"><i class="bi bi-caret-down-fill"></i>12</div>
      </div>
    </div>
  </div>
  <div class="info">
    <div class="info-session-header">ProjectName :<i class="bi bi-question-circle" ></i></div>
    <div class="info-session-count">Project3</div>
    <div class="info-session previous-day">
      <div class="previous-day-count">
        <div>Tasks in progress : </div>
        <div class="previous-day-value">40</div>
      </div>
      <div class="previous-day-change">
        <div class="change-right">Missed Tasks :</div><br>
        <div class="change-right negative"><i class="bi bi-caret-down-fill"></i>12</div>
      </div>
    </div>
  </div>
  <div class="info">
    <div class="info-session-header">ProjectName :<i class="bi bi-question-circle" ></i></div>
    <div class="info-session-count">Project4</div>
    <div class="info-session previous-day">
      <div class="previous-day-count">
        <div>Tasks in progress : </div>
        <div class="previous-day-value">40</div>
      </div>
      <div class="previous-day-change">
        <div class="change-right">Missed Tasks :</div><br>
        <div class="change-right negative"><i class="bi bi-caret-down-fill"></i>12</div>
      </div>
    </div>
  </div>


</div>
