
  <div class="info-grid" *ngIf="false">
    <div class="info">
      <div class="info-session-header">ProjectName :<i class="bi bi-question-circle" ></i></div>
      <div class="info-session-count">Project1</div>
      <div class="info-session previous-day">
        <div class="previous-day-count">
          <div>Tasks in progress : </div>
          <div class="previous-day-value">40</div>
        </div>
        <div class="previous-day-change">
          <div class="change-right">Missed Tasks :</div><br>
          <div class="change-right negative"><i class="bi bi-caret-down-fill"></i>12</div>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="true">
    <p-carousel [value]="ARR2" [numVisible]="4" [numScroll]="1" [circular]="true"  [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
      <ng-template let-projectProgress pTemplate="item">
        <div class="info-grid">
          <div class="info">

            <div class="info-session-header">ProjectName :<i class="bi bi-question-circle" ></i></div>
            <div class="info-session-count">{{projectProgress.projectName}}</div>
            <div class="info-session previous-day">
              <div class="previous-day-count">
                <div>Tasks in progress : </div>
                <div class="previous-day-value">{{projectProgress.inProgress}}</div>
              </div>
              <div class="previous-day-change">
                <div class="change-right">Missed Tasks :</div><br>
                <div class="change-right negative"><i class="bi bi-caret-down-fill"></i>{{projectProgress.missed}}</div>
              </div>
            </div>
          </div>
        </div>

        </ng-template>

    </p-carousel>
  </div>





