<div *ngIf="!Loading" class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Welcome Back!</h1>
      <p class="py-6">
        Ready to dive back in? Log in now to pick up where you left off and stay connected with your team effortlessly.
      </p>
    </div>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form [formGroup]="loginForm" class="card-body" (ngSubmit)="onLoging()">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input
            formControlName="userName"
            type="email"
            placeholder="email"
            class="input input-bordered"
            required
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            formControlName="password"
            type="password"
            placeholder="password"
            class="input input-bordered"
            required
          />
          <label class="label">
            <a routerLink="/Register" class="label-text-alt link link-hover opacity-70"
              >Create an account?</a
            >
          </label>
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="Loading" class="hero min-h-screen flex justify-center items-center bg-base-200">
  <span class="loading loading-infinity h-24 w-auto"></span>
</div>
