<div class="mx-52 mt-10">
  <mat-stepper [linear]="true" #stepper>

    <mat-step [stepControl]="f1"  >

        <form [formGroup]="f1" >
          <ng-template matStepLabel>Fill out the informations of the project</ng-template>
          <div >
            <div class="ui w-2/5 ">
              <mat-form-field hintLabel="Max 10 characters">
                <mat-label >Project Name</mat-label>
                <input matInput #input maxlength="10" placeholder="Name" formControlName="projectName" required>
                <mat-hint align="end">{{input.value.length}}/10</mat-hint>
              </mat-form-field>
            </div>
            <div class="h-17">
              <mat-form-field hintLabel="Max 40 characters">
                <mat-label>DESCRIPTION</mat-label>
                <textarea matInput #input maxlength="40" placeholder="Description" formControlName="projectDescr" required></textarea>
                <mat-hint align="end">{{input.value.length}}/40</mat-hint>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Start Date and End Date</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date" formControlName="start" required>
                  <input matEndDate placeholder="End date" required formControlName="end" >
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>WorkSpaces</mat-label>
                <mat-select formControlName = 'workId'>

                  <mat-option *ngFor="let work of works"  [value]="work.id" >
                    {{ work.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="btt1">
              <button (click)="checkName()">NEXT</button>

            </div>
          </div>




        </form>


    </mat-step>



    <mat-step [stepControl]="f2" label="Optional Informations">
      <form [formGroup]="f2" class="ml-52">
        <div class="ui w-2/5 ">
          <mat-form-field>
            <mat-label>Client Name</mat-label>
            <input matInput formControlName="ClientName" placeholder="Client Name">
          </mat-form-field>
        </div>

        <div class="w-2/5">
          <mat-form-field floatLabel="always">
            <mat-label>Budget</mat-label>
            <input matInput type="number" class="example-right-align" placeholder="0" formControlName="Budget">
            <span matTextPrefix>$&nbsp;</span>
            <span matTextSuffix>.00</span>
          </mat-form-field>
        </div>


        <div class="btt2">
          <button type="button"  matStepperPrevious class="btn btn-secondary">Back</button>
          <button type="button"   (click)="save()" class="btn btn-primary">Next</button>
        </div>

      </form>
    </mat-step>



    <mat-step   label="DONE">


      <div  *ngIf="saved; else  notSaved" class="congratulation-area text-center mt-5">
        <div class="container">
          <div class="congratulation-wrapper">
            <div class="congratulation-contents center-text">

              <h4 class="congratulation-contents-title">Done! </h4>
              <p class="congratulation-contents-para"> Your project is created successfully.  </p>
              <div class="btn-wrapper mt-4">
                <a  routerLink="/project" class="cmn-btn btn-bg-1">Go to Home</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </mat-step>




  </mat-stepper>


  <ng-template #notSaved>
    <div  class="congratulation-area text-center mt-5">
      <div class="container">
        <div class="congratulation-wrapper">
          <div class="congratulation-contents center-text">

            <h4 class="congratulation-contents-title">ERROR! </h4>
            <p class="congratulation-contents-para"> Your project is not created .  </p>
            <div class="btn-wrapper mt-4">

              <a [routerLink]="['/project/', idAdmin]" class="cmn-btn btn-bg-1">Go to Home</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>

  </ng-template>

</div>




<ng-toast></ng-toast>
