<div infinite-scroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="0"
(scrolledUp)="Fetch()"
[scrollWindow]="false"
#scrollable id="chat-container" class="m-auto px-5 overflow-y-scroll hide-scrollbar" style="height: 520px;">
  <div class="bg-base rounded-lg w-full">
    <div id="chatbox" class="p-4">
      <app-message
        *ngFor="let message of messages;let i = index"
        [message]="message"
        class="mr-auto w-full"
      >
      </app-message>
    </div>
  </div>
</div>
