<div class="dropdown dropdown-end">
  <button tabindex="0" class="btn btn-ghost btn-circle">
    <div>
      <div class="flex justify-center items-center">
        <img
          *ngIf="isProfilePicture()"
          [src]="user.profilePicture"
          alt="User Avatar"
          class="w-8 h-8 rounded-full object-cover"
        />
        <div
          *ngIf="!isProfilePicture()"
          class="w-8 h-8 rounded-full flex items-center justify-center text-lg bg-gray-300 text-gray-600"
        >
          {{ user?.name.charAt(0).toUpperCase() }}
        </div>
    </div>
    </div>
  </button>
  <div tabindex="0" class="dropdown-content z-[1] menu shadow bg-base-100 rounded-box w-96 h-36 p-6 grid grid-cols-3 gap-3 grid-flow-col card compact">
    <div tabindex="0" class="col-span-1">
      <div tabindex="0" class="flex group/edit items-center relative duration-300 hover:opacity-70 justify-center" (click)="this.fileUpload.click()">
        <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept="image/*" (change)="OnImageUpload($event)" style="display: none;"/>
        <div *ngIf="!Loading" class="-z-50 group-hover/edit:z-50 shadow-xl rounded-full align-middle border-none absolute flex items-center justify-center w-full h-full text-neutral-content">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z" />
          </svg>
        </div>
          <div tabindex="0" *ngIf="Loading" class=" shadow-xl rounded-full align-middle opacity-30 bg-black border-none absolute flex items-center justify-center w-full h-full text-neutral-content">
            <span class="loading loading-spinner"></span>
          </div>
          <ng-container *ngIf="isProfilePicture()">
        <img
          [src]="user.profilePicture"
          alt="User Avatar"
          class="w-24 h-24 rounded-full object-cover"
        />
          </ng-container>

        <div
          *ngIf="!isProfilePicture()"
          class="w-24 h-24 rounded-full flex items-center justify-center text-4xl bg-gray-300 text-gray-600"
        >
          {{ user?.name.charAt(0).toUpperCase() }}
        </div>
    </div>
    </div>
    <div class="col-span-2">
    <div class="text-xl">{{user?.name}}</div>
    <div class="opacity-70">{{user?.email}}</div>
    <button class="btn btn-sm w-32 h-auto btn-square text-xs btn-outline btn-primary my-2 p-2">Change Password</button>
  </div>
  </div>
