<div class="navbar px-4">
  <div class="navbar-start">
  <button *ngIf="isLogged" (click)="OnLogout()" class="btn btn-ghost btn-circle">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
    </svg>
        </button>
    <a class="btn btn-ghost text-3xl">Stack</a>
  </div>

  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-4">
      <li *ngIf="!isLogged" ><a>About Us</a></li>
      <li *ngIf="!isLogged"><a>Team</a></li>




    </ul>
    <app-invitations *ngIf="isLogged"></app-invitations>
  <div class="mx-4 flex justify-center items-center">
    <app-theme-switcher></app-theme-switcher>
    </div>
  </div>
</div>
