<div class="navbar">
  <div class="navbar-start">
    <a class="btn btn-ghost text-3xl">Stack</a>
  </div>
  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a>About Us</a></li>
      <li><a>Team</a></li>
      <li><a>Download</a></li>
    </ul>
  </div>
  <div *ngIf="!isLogged" class="btn btn-primary rounded-2xl">
    <a routerLink="/Login">Get Started</a>
  </div>
  <div *ngIf="isLogged" (click)="OnLogout()" class="btn btn-primary rounded-2xl">
    Logout
  </div>
</div>
