<app-header></app-header>

<div class="hero min-h-screen bg-base-200 flex items-center">
  <div class="hero-content text-left flex-grow">
    <div class="max-w-md mx-auto" data-aos="fade-right">
      <h1 class="text-5xl font-bold">Create Your Own Workspace</h1>
      <p class="py-6">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
      <button class="btn btn-primary text-center">
        <a routerLink="/Create">Create Workspace</a>
      </button>
      <p class="py-4 text-sm">
        By continuing, you’re agreeing to our Main Services Agreement, User
        Terms of Service, and Slack Supplemental Terms. Additional disclosures
        are available in our Privacy Policy and Cookie Policy.
      </p>
    </div>
  </div>
  <div class="flex-shrink-0">
    <!-- Your image goes here -->
    <img
      src="your-image-source.jpg"
      alt="Your Image"
      class="w-64 h-64 object-cover"
    />
  </div>
</div>
<div class="divider">OR</div>

<div *ngIf="isLogged" class="hero min-h-screen bg-base-200">
  <div
    class="hero-content text-center h-96 flex flex-col items-center justify-center"
  >
    <h4 class="text-2xl font-bold mb-4">Open a Workspace</h4>
    <div class="mb-4">
      <ul class="menu bg-base-500 w-auto border-2 rounded-lg p-4">
        <li class="text-left mb-2">Workspace For {{ loggeduser.email }}</li>
        <div class="divider"></div>

        <li *ngFor="let workspace of workspaces">
          <a [routerLink]="['/Main',workspace.id]">{{ workspace.name }}</a>
        </li>
      </ul>
    </div>
    <p class="text-sm mb-4">Not seeing your workspace?</p>
    <button class="btn btn-primary">Try Another Email</button>
  </div>
</div>
