<app-header (reloadWS)="onReloadWS($event)"></app-header>

<div class="hero min-h-screen bg-base-200 flex items-center">

  <div class="hero-content text-left flex-grow">
    <div class="grid grid-flow-col grid-cols-2 gap-8">
    <div class="col-span-1 flex justify-end items-top">
        <img src="../../../../assets/img/Stack_App.png" class="h-5/6 w-auto"/>
    </div>
    <div class="max-w-md mx-auto" data-aos="fade-right">
      <h1 class="text-5xl font-bold">Create A New Workspace</h1>
      <p class="py-6">
        Start collaborating with your team by creating It's workspace. It only takes few seconds to set up, and you'll be on your way to seamless communication and productivity.
      </p>
      <button class="btn btn-primary text-center" routerLink="/Create">
        Create Workspace
      </button>

      <p class="py-8 text-sm">
        By continuing, you’re agreeing to our Main Services Agreement, User
        Terms of Service, and Stack Supplemental Terms. Additional disclosures
        are available in our Privacy Policy and Cookie Policy.
      </p>
    </div>
  </div>
</div>
</div>
<div class="divider">OR</div>

<div *ngIf="isLogged" class="hero min-h-screen bg-base-200">
  <div
    class="hero-content text-center h-96 flex flex-col items-center justify-center"
  >
    <h4 class="text-2xl font-bold mb-4">Enter a Workspace</h4>
    <div class="mb-4">
      <ul class="menu bg-base-500 min-w-56 w-auto border-2 rounded-lg p-4">
        <li class="text-left mb-2">Workspaces For {{ loggeduser.email }}</li>
        <div class="divider"></div>

        <li *ngFor="let workspace of workspaces">
          <button (click)="onSetAdmin(workspace.adminId)" [routerLink]="['/Main',workspace.id]">{{ workspace.name }}</button>
        </li>
      </ul>
    </div>
    <p class="text-sm mb-4">Not seeing your workspace?</p>
    <button (click)="OnLogout()" routerLink="/Login" class="btn btn-primary">Try Another Email</button>
  </div>
</div>
